<div class="container">
    <form name="f" [formGroup]="DataForm" class="form">
        <div *ngIf="mode == 'form'">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Contact data</mat-card-title>
                    <mat-card-subtitle>Form</mat-card-subtitle>
                </mat-card-header>

                <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput placeholder="Juan David" formControlName="Name" (keypress)="onKeypressEvent($event)" >
                    <mat-icon matSuffix>rowing</mat-icon>
                </mat-form-field>
                <div *ngIf="formErrors.Name" class="err-msg">
                    The name is required
                </div>

                <mat-form-field class="example-full-width">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput placeholder="Mahecha Cruz" formControlName="LastName" (keypress)="onKeypressEvent($event)">
                    <mat-icon matSuffix>rowing</mat-icon>
                </mat-form-field>
                <div *ngIf="formErrors.LastName" class="err-msg">
                    The last name is required
                </div>

                <mat-form-field class="example-full-width">
                    <mat-label>Country</mat-label>
                    <input type="text" placeholder="United States" matInput formControlName="Country"
                        [matAutocomplete]="auto">
                    <mat-icon matSuffix>location_searching</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option.name}}
                        </mat-option>

                    </mat-autocomplete>
                </mat-form-field>
                <div *ngIf="formErrors.Country" class="err-msg">
                    The country is required
                </div>

                <mat-form-field class="example-full-width">
                    <mat-label>City</mat-label>
                    <input type="text" matInput placeholder="Newark, OH" formControlName="Adress">
                    <mat-icon matSuffix>directions</mat-icon>
                </mat-form-field>
                <div *ngIf="formErrors.Adress" class="err-msg">
                    The city is required
                </div>

                <mat-form-field class="example-full-width">
                    <mat-label>Adress</mat-label>
                    <input type="text" matInput placeholder="553 Hebron Rd" formControlName="City">
                    <mat-icon matSuffix>location_city</mat-icon>
                </mat-form-field>
                <div *ngIf="formErrors.City" class="err-msg">
                    The adress name is required
                </div>

                <mat-form-field class="example-full-width">
                    <mat-label>Telephone</mat-label>
                    <span matPrefix>+{{codePhone}} &nbsp;</span>
                    <input type="number" matInput placeholder="555-555-1234" formControlName="Telephone">
                    <mat-icon matSuffix>local_phone</mat-icon>
                </mat-form-field>
                <div *ngIf="formErrors.Telephone" class="err-msg">
                    The telephone is required
                </div>

                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="text" matInput placeholder="example.j@example.com" formControlName="Email">
                    <mat-icon matSuffix>alternate_email</mat-icon>
                </mat-form-field>
                <div *ngIf="formErrors.Email" class="err-msg">
                    The email name is required
                </div>

                <div class="row justity-content-center">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-primary" (click)="submit()">Data verify!</button>
                    </div>
                </div>

            </mat-card>
        </div>
        <div *ngIf="mode == 'preview'">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Preview contact data</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput disabled [value]="data.name">
                            <mat-icon matSuffix>rowing</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Last Name</mat-label>
                            <input type="text" matInput disabled [value]="data.lastName">
                            <mat-icon matSuffix>rowing</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Country</mat-label>
                            <input type="text" matInput disabled [value]="data.country">
                            <mat-icon matSuffix>location_searching</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>City</mat-label>
                            <input type="text" matInput disabled [value]="data.city">
                            <mat-icon matSuffix>directions</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Adress</mat-label>
                            <input type="text" matInput disabled [value]="data.adress">
                            <mat-icon matSuffix>location_city</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Telephone</mat-label>
                            <input type="text" matInput disabled [value]="data.telephone">
                            <mat-icon matSuffix>local_phone</mat-icon>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input type="text" matInput disabled [value]="data.email">
                            <mat-icon matSuffix>alternate_email</mat-icon>
                        </mat-form-field>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="row justity-content-center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-success" (click)="onSubmit()">Data send!</button>
                            <button type="button" class="btn btn-warning" (click)="onBack()">Back!</button>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </form>
</div>