<div class="card text-center">
    <div class="card-header">
        WELCOME TO: WALLET.
    </div>
    <div class="card-body">
        <img width="25%" src="../../../assets/image/descarga.png" alt="Logo">
        <h1 class="card-title">Developed by:</h1>
        <p class="card-text">Juanmahecha9</p>
        <a href="https://github.com/juanmahecha9" target="_blank" class="btn btn-primary">Go my github...</a>
    </div>
    <div class="card-footer text-muted">
        1 day ago....
    </div>
</div>

<div class="container text-center my-5">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo et nisi culpa quas, quia est qui dolores amet ipsa laborum neque repudiandae vel enim, eos nesciunt voluptatum, exercitationem ducimus praesentium!
    Cupiditate, quo omnis accusantium alias cum tenetur molestiae commodi, quibusdam expedita perspiciatis nostrum ipsa, iure atque dignissimos eius? Vero voluptates autem quae perferendis dicta ex molestias a velit, porro provident!
    Repudiandae, provident ad esse odio pariatur fugiat odit earum, illum, debitis tempora veniam accusantium voluptatibus error eius similique! Cum, sed! Magni officia eos adipisci sapiente facere maiores enim, quos sint?
    Quis maiores obcaecati eum numquam beatae id dolor possimus eaque voluptatem unde. Adipisci obcaecati est maxime nihil facilis. Consectetur incidunt officiis ipsum repellendus cumque non assumenda rem cum sapiente nulla.
    Earum ab vel nostrum, tempora in eum nihil praesentium, iste rem, fuga repudiandae? Ab nihil explicabo assumenda nulla sunt illum expedita. Provident sapiente iste obcaecati eius id cum aliquid at?
</div>